.product-container {
  margin: auto;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-container {
  display: flex;
  gap: 10px;
}

.product-description {
  font-size: 23px;
  line-height: 1.5;
  text-align: justify;
}

.product-price {
  font-size: 50px;
  font-weight: 700px;
}

.add-cart {
  padding: 20px 50px;
  margin: 10px 0;
  background-color: #e4d129;
  border-radius: 50px;
}

.add-cart:hover {
  background-color: #cfbc0e;
  cursor: pointer;
}

.buy-now {
  padding: 20px 50px;
  margin: 10px 0;
  border-radius: 50px;
  cursor: pointer;
}
.product-name {
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0;
}

.quantity-container {
  display: flex;
  gap: 5;
}

.quantity-container button {
  padding: 10px;
  font-size: 20px;
  width: 50px;
}

.quantity-container input {
  width: 60px;
  text-align: center;
  background-color: white;
  font-size: 20px;
}
